
__pycache__/
*.egg-info/
build/
dist/
*.log

.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/dictionaries
.idea/**/shelf

demo_rns/
docs/demo/*.wav
docs/demo/*.mp3

tests/rns/storage/
tests/rns/state/
tests/rns/identity_*
tests/rns/server_identity
tests/output/
tests/