[Desktop Entry]
Type=Application
Name=Partyline
Comment=Group voice over Reticulum
Exec=partyline
Icon=/PATH/TO/partyline/partyline/icons/app_256.png
Terminal=false
Categories=Network;Audio;Chat;
StartupWMClass=Partyline
